# {{ .vars.project_name }}

{{ .vars.description }}

{{ if .vars.author }}
## Author

{{ .vars.author }}
{{ end }}

## Getting Started

TODO: Add getting started instructions

## License

TODO: Add license information
