apiVersion: v1
kind: Service
metadata:
  name: {{ .vars.service_name | lower }}
  labels:
    app: {{ .vars.service_name | lower }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
    - port: 9090
      targetPort: 9090
      protocol: TCP
      name: grpc
  selector:
    app: {{ .vars.service_name | lower }}
